.blog_input{
	display: inline-block;
	width: 250px;
}

.blog_input_label {
	display: inline-block;
}

.error_msg {
	color: red;
	font-weight: bold;
	font-size: 20px;
}

#pageination_container{
	margin-top: 40px;
	margin-left: 15px;
}

.current_page {
	font-weight: bold;
	font-size: 15px;
	color: red;
}

#post_list{
	list-style: none;
}

.post_row{
	margin-top: 10px;
	margin-bottom: 7px;
}

#total_display{
	margin-top: 7px;
	min-width: 500px;
	font-weight: bold;
	text-align: center;
}

#paging_controls {
	min-width: 500px;
	text-align: center;
}

.post_number {
	font-weight: bold;
}